.App {
  text-align: center;
  overflow-x: hidden;
}

body {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  background: transparent;
  padding: 0 0 0 0;
}

.project-container {
  height: 75%;
}

.img-fluid {
  height: 100%;
  width: 100%;
}

.img-loader {
  animation: App-logo-spin 2s infinite;
  border-radius: 100%;
  border: 3px solid cyan;
}

.img-container {
  max-width: fit-content;
  max-height: fit-content;
}

.linkDiv {
  margin-top: 10px;
}

.clock {
  color: whitesmoke;
  font-family: "Audiowide", cursive;
  font-size: small; 
}

p {
  margin-right: 10px;
  margin-left: 10px;
}

.carousel-caption {
  position: static;
  background: #343a40;
}

.bd-example {
  max-width: 100%;
  margin-top: 20px;
}

.carousel-item {
  border: solid rgb(128, 119, 119);
}

.fa-arrow-alt-circle-left,
.fa-arrow-alt-circle-right {
  color: cyan;
}

.fa-arrow-alt-circle-left:hover,
.fa-arrow-alt-circle-right:hover {
  color: cyan;
  cursor: pointer;
}

.fa-bars {
  color: cyan;
  width: 100%;
}

.navbar-dark .navbar-toggler-icon {
  background: transparent;
  width: 40px;
}

h3 {
  font-size: 25px;
  color: white;
}

.carousel-indicators {
  display: none !important;
}

.details,
.carousel {
  background: #343a40;
}

.details {
  height: 100px;
}

.carousel-control-next {
  background: url("https://slm-assets1.secondlife.com/assets/15071879/original/gif_LED_Arrow_White_AlphaAlpha_Blue_4x2.gif?1474027277");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  transform: rotate(180deg);
  top: 80%;
  cursor: pointer;
  height: 12%;
}

.carousel-control-prev {
  background: url("https://slm-assets1.secondlife.com/assets/15071879/original/gif_LED_Arrow_White_AlphaAlpha_Blue_4x2.gif?1474027277");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  top: 80%;
  cursor: pointer;
  height: 12%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none !important;
}

.project-title {
  margin-top: 5px;
}