.App {
  text-align: center;
  overflow-x: hidden;
}

body {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  background: transparent;
  padding: 0 0 0 0;
}

.img-fluid {
  max-width: 100%;
  border: solid rgba(128, 128, 128, 0.568);
  outline: solid black;
}

.linkDiv {
  margin-top: 10px;
}

.clock {
  color: whitesmoke;
  font-family: "Audiowide", cursive;
  font-size: small; 
}

p {
  margin-right: 10px;
  margin-left: 10px;
}

.carousel-caption {
  position: static;
  background: #343a40;
}

.bd-example {
  max-width: 100%;
  margin-top: 20px;
}

.carousel-item {
  border: solid rgb(128, 119, 119);
}

.fa-arrow-alt-circle-left,
.fa-arrow-alt-circle-right {
  color: cyan;
}

.fa-arrow-alt-circle-left:hover,
.fa-arrow-alt-circle-right:hover {
  color: cyan;
  cursor: pointer;
}

.fa-bars {
  color: cyan;
  width: 100%;
}

.navbar-dark .navbar-toggler-icon {
  background: transparent;
  width: 40px;
}

h3 {
  font-size: 25px;
}