.App {
  text-align: center;
  overflow-x: hidden;
}

body {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  background: transparent;
  padding: 0 0 0 0;
}

.img-fluid {
  width: 350px;
  border: solid rgba(128, 128, 128, 0.568);
  outline: solid black;
}

.linkDiv {
  margin-top: 10px;
}

.clock {
  color: whitesmoke;
  font-family: "Audiowide", cursive;
  font-size: small; 
}

p {
  margin-right: 10px;
  margin-left: 10px;
}

.carousel-caption {
  position: relative;
}
